.card-jss .card-number2-wrapper .card-type-icon {
    height: 23px;
    width: 32px;
    position: absolute;
    display: block;
    right: 6px;
    top: 7px;
    background: url(https://cardjs.co.uk/img/cards.png) 0 23px no-repeat;
    pointer-events: none;
    transition: opacity .15s linear
}

.card-jss .card-number2-wrapper .show {
    opacity: 1
}

.card-jss .card-number2-wrapper .card-type-icon.visa {
    background-position: 0 0
}

.card-jss .card-number2-wrapper .card-type-icon.master-card {
    background-position: -32px 0
}

.card-jss .card-number2-wrapper .card-type-icon.american-express {
    background-position: -64px 0
}

.card-jss .card-number2-wrapper .card-type-icon.discover {
    background-position: -96px 0
}

.card-jss .card-number2-wrapper .card-type-icon.diners {
    background-position: -128px 0
}

.card-jss .card-number2-wrapper .card-type-icon.jcb {
    background-position: -160px 0
}

.card-jss .icon {
    position: absolute;
    display: block;
    width: 24px;
    height: 17px;
    left: 20px;
    top: 10px;
    pointer-events: none
}

.card-jss input.card-number2, .card-jss input.cvc, .card-jss input.name {
    padding-left: 40px
}

.card-jss.stripe .icon .svg {
    fill: #559A28
}