body {
  font-family: "Open Sans", sans-serif;
  color: #383d43;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
}


a:link {
  text-decoration: none;
}

.top-modal {
  margin-top: 6%;
}

.header-modal {
  background: white;
  width: 100%;
  padding-bottom: 5px;
  height: 100px;
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
}

.onpage {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.footer-modal {
  padding: 0;
  font-size: 12px;
  margin-top: 8px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.footer-modal p {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em auto 15px;
  flex: 0 0 auto;
}

.footer-modal p img {
  height: 18px;
  width: auto;
}

.footer-modal i {
  margin-right: 5px;
  margin-bottom: 5px;
}

.nombre-comercio {
  margin-left: 15px;
  position: relative;
  font-size: 14px;
  margin-top: 5px;
  float: left;
  width: 252px;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.body-modal {
  background: #f3f3f3;
  border-radius: 0 0 6px 5px;
}

.logo-comercio {
  float: left;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 1px #e0e0e0 solid;
}

.icon-cancel {
  text-decoration: none;
  font-size: 30px;
  position: static;
  margin-top: -5px;
  margin-right: 5px;
  float: right;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.icon-cancel:hover {
  content: "\e5cd";
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: gray !important;
}

.color {
  color: #3582b7 !important;
}

.bgcolor {
  background-color: #3582b7 !important;
}

.white_font {
  color: white;
}

.call_action {
  border-radius: 0 0 5px 5px;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  line-height: 35px;
  cursor: pointer;
  padding: 5px 0;
  width: 100% !important;
}

.call_action img {
  margin-top: -3px;
}

.call_action:hover {
  opacity: 0.9;
}

.call_action h2 {
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  margin: 0;
}

.testmode {
  z-index: 9999;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background: #f1c40f;
  line-height: 30px;
  text-align: center;
}



.has-options {
  height: 40px;
  background: white !important;
  line-height: 40px;
  padding: 0 0 0 10px;
}

.languaje {
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  width: 8%;
  float: left;
  text-align: center;
  background: #e0e0e0;
  color: #383d43;
}

.marginsrl {
  margin-right: 15px;
  margin-left: 15px;
}

.caret-languaje {
  float: right;
  margin-right: 10px;
  line-height: 30px;
  margin-top: -24px;
}

.active {
  color: white;
}

.active:hover {
  color: white;
}

.active:active {
  color: white;
}

.active:visited {
  color: white;
}

.bar-option {
  width: 100%;
  display: flex;
  background: white;
}

.select-pais {
  width: 84%;
  float: left;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 30px;
  line-height: 30px;
  background: white;
}

.select-pais a {
  text-decoration: none;
}
.change {
  width: 84%;
  float: left;
  height: 25px;
  line-height: 25px;
  padding-top: 10px;
}

.option-pais {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e0e0e0;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.option-pais:hover {
  background: #f5f5f5;
}

#card_cvc:focus{
  background-color:#fff;outline:0;border-color:#66afe9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
          }
#select-option:focus{
background-color:#fff;outline:0;border-color:#66afe9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
          }

.title-body {
  text-align: left;
  width: calc(100% - 1.5em);
  margin: 0 auto 1em auto;
  font-size: 16px;
  font-weight: 500;
  color: #3a3a3a;
}

.title-body-center {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px !important;
}
.disinline {
  display: flex;
}
.cut-text {
  width: 180px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
  text-decoration: dotted;
  margin-left: 5px;
}
.nomargin {
  margin: 0 !important;
}
.nomargin input {
  margin: 0 !important;
}
.select-option {
  height: 40px;
  /* overflow: hidden; */
}

.centra {
  text-align: center;
}

.separate {
  margin: 1.5em 0 0.5em 0;
  position: relative;
  z-index: 0;
  transform: translateZ(0);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.separate .texto {
  display: block;
  vertical-align: top;
  width: calc((100% - 65px) - 1em);
  flex: 1 0 50%;
}

.separate .icon {
  margin-right: 1em;
  width: 60px;
  height: 60px;
  padding: 0.3em;
  border-radius: 50%;
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.separate .icon img {
  width: 100%;
  height: auto;
  display: block;
}

.selectize-input {
  padding: 0 0.5em;
}

.separate-B {
  margin: 5em 0;
}

img.home-icons {
  height: 30px !important;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em 0;
}

.select-option label {
  line-height: 35px;
}

.loadoverlay {
  position: absolute;
  width: 400px;
  max-width: 100%;
  min-height: 92%;
  border-radius: 5px;
  background: white;
  z-index: 9999;
}

.loader,
.loader:after {
  border-radius: 50%;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0, 0, 0, 0.2);
  border-right: 0.5em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.5em solid rgba(0, 0, 0, 0.2);
  border-left: 0.5em solid #999;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  animation: load8 1.1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadimg {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  /* Half the height */
  margin-left: -40px;
  /* Half the width */
}
.loadshield2 {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 40px;
  margin-top: -20px;
  /* Half the height */
  margin-left: -10px;
  /* Half the width */
  color: gray;
}

.loadtext {
  font-size: 14px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  height: 30px;
  margin-top: 55px;
  /* Half the height */
  /* Half the width */
  color: gray;
}

.icon-select {
  position: absolute;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 0;
  line-height: 40px;
}

.margin32 {
  margin-left: 30px;
}

#content-number {
  margin-top: 1em;
}

.flag {
  margin-left: 15px;
  margin-right: 10px;
  height: 15px;
  width: 20px;
  float: left;
}


/*credit card*/

.input-form {
  position: relative;
  color: #aaa;
}

.input-form .icon {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 35px;
  left: 0;
  top: 0;
  padding: 0;
}

.input-form .icon .fa {
  padding: 0;
  position: relative;
  margin: 0;
  left: 0;
  line-height: 40px;
}

.input-form input {
  width: 100%;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  text-indent: 38px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #383d43;
  border-radius: 4px;
  cursor: pointer;
}

.input-form input:focus {
  border-color: #ebebeb;
  background-color: #f4fbfb;
  outline: none 0;
}

.margin-t #email_user {
  margin-top: 0.5em;
}
  
.inputerror {
  border: 1px solid;
  border-radius: 4px;
  border-color: #e74c3c !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 0, 0, 0.2);
}

.inputok {
  border-color: #27ae60 !important;
}

.normalinput input {
  text-indent: 10px !important;
}

.input-form .icon-input {
  position: absolute;
  padding-left: 25px;
  padding-right: 0 !important;
  line-height: 40px;
  font-size: 18px;
}

.input-form .fa {
  position: absolute;
  font-size: 18px !important;
  padding-left: 25px;
  padding-right: 20px;
  line-height: 45px;
}

.icon-title {
  font-size: 30px;
}

.select {
  -webkit-appearance: none;
  border: none;
  background: white url(img/arrow.png) no-repeat right !important;
  border-radius: 4px;
  font-size: 14px;
  height: 38px;
  width: 100%;
}

.select:focus {
  outline: 0;
}

.bordergray {
  border: 1px solid #e0e0e0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  margin-left: 8px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  background: #fff;
  height: 16px;
  border: 2px solid #3582b7;
  border-radius: 2px;
  content: " ";
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  color: #3582b7;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 14px;
  background: white;
}

.centered {
  margin: 1em 0 2em;
  height: auto;
  width: 400px;
  position: fixed;
  top: -1em;
  left: 50%;
  transform: translate(-50%, 0%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 2;
}

.centered.active{
  transform: translate(-50%, 30%) scale(1);
}

.onpage .centered {
  max-width: 100%;
}
.onpage .select-option {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
}
.onpage .select-option label {
  margin: 0;
  font-weight: 600;
  padding-left: 10px;
}

.onpage .select-option .iconinfo {
  margin: 0;
  padding-right: 10px;
}

.onpage .input-form input {
  /*width: 94%;*/
  margin-left: 3%;
  margin-right: 3%;
}
.onpage .nombre-comercio {
  width: 54%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  margin: auto;
}
.onpage .nombre-comercio a {
  font-size: small;
}
.onpage .call_action {
  width: 100%;
}
.onpage .vencimiento {
  width: 45% !important;
}
.onpage .cvv_style {
  width: 23% !important;
}
.onpage .cuotas {
  width: 20% !important;
}

.onpage .loadoverlay {
  width: 100%;
}
.onpage .marginsrl {
  margin-right: 3%;
  margin-left: 3%;
}
.onpage .selectcuotas {
  width: 30% !important;
}
.onpage .inputdoc {
  width: 61% !important;
}
.onpage .inputdoc input {
  width: 100% !important;
}
.onpage .text-width {
  width: 90% !important;
  margin-left: 5% !important;
}

.flaginput {
  float: right !important;
  margin-top: -32px;
  z-index: 999;
  height: 20px;
  width: 40px;
  right: 18px;
  /* float: left; */
  position: absolute;
}


.iconinfo {
  float: right;
  line-height: 40px;
  margin-right: 10px;
  font-size: 18px;
}


.pointer {
  cursor: pointer;
}

.cvv_style {
  width: 90px;
  float: left;
}

.fullwidth {
  width: 100% !important;
}


.fa-check {
  color: #27ae60;
}

.fa-exclamation-circle {
  color: #e74c3c;
}

.fa-pause {
  color: #f39c12;
}

.fa-meh-o {
  color: #e74c3c;
}


.load {
  opacity: 0.9;
  line-height: 30px;
  text-align: center;
}

.iconboton {
  float: right;
  margin-top: -12px;
}

.btnshow {
  line-height: 40px;
  margin-right: 15px;
  float: right;
}

.resume {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}

.upercase {
  text-transform: uppercase;
}

.arrow_box {
  margin-left: 420px;
  position: absolute;
  border-radius: 4px;
  margin-top: -85px;
  background: #eee;
  height: 120px;
  font-size: 12px;
}

.width150 {
  width: 150px;
}

.width210 {
  width: 180px;
}

.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-width: 15px;
  margin-top: -15px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #eee;
  border-width: 10px;
  margin-top: -10px;
}

.border {
  height: 40px;
  float: left;
  margin-left: 190px;
  margin-top: -51px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.loadinput {
  position: absolute;
  margin-left: -60px;
  line-height: 75px;
  color: gray;
}


.gray-scale {
  filter: grayscale(100%);
}

.whitediv {
  background: white;
  margin-bottom: 10px;
}

.pintitle {
  width: 120px;
  float: left;
  font-size: 14px;
  line-height: 14px;
  padding-left: 15px;
}

.codetitle {
  width: 160px;
  float: left;
  font-size: 14px;
  line-height: 14px;
}

.print {
  text-align: right;
  float: left;
  width: 90px;
}

#day_select option:first-child {
  color: #e0e0e0;
}

.selectize-control {
  height: 40px !important;
}

.selectize-input > * {
  font-size: 14px;
}

.capitalice {
  text-transform: capitalize;
}

.iconpse {
  position: absolute;
  margin-top: -48px;
  margin-bottom: 10px;
  float: right;
  right: 15px;
}
  
.selectize-dropdown [data-selectable]:hover {
  color: #333;
}


.margin-top-20 {
  margin-top: 20px !important;
}

.dropzone {
  border: 2px dashed #337ab7;
  border-radius: 5px;
  background: white;
}
.relative {
  position: relative;
}

.logo-entity {
  width: auto;
  margin: 3em auto 2em;
  height: 40px;
  text-align: center;
}

.logo-entity img {
  height: 100%;
  width: auto;
}


#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

.dropdown dd, .dropdown, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#000000; text-decoration:none; outline:none;}
.dropdown a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background: #fdfdfd none repeat scroll 0 0;border: 1px solid #ccc; color: #ffffff; display: none;
left: 0px;padding: 5px 0px;position: inherit;top: 2px;min-width: 170px;list-style: none;height: 225px;
overflow-y: auto;z-index: 1;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#e9b8b8;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}
.modal-expiration-time{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .5s cubic-bezier(.075,.82,.165,1);
    transition: all .5s cubic-bezier(.075,.82,.165,1);
}
.ventana{
    opacity: unset;
    padding: 1em;
    border-radius: 5px;
    background: #fff;
    max-width: 90%;
    width: 400px;
}
.modal-expiration-time .ventana p {
    margin: 1em 0;
    color: #999;
}
.mdl-expiration-time-title {
    left: 8.82%;
    right: 8.82%;
    top: 94px;
    font-weight: 600;
    line-height: 19px;
    color: #383D43!important;
    text-align: center;
}
.mdl-expiration-time-content {
    left: 5.88%;
    right: 5.88%;
    bottom: 100px;
    font-weight: 400;
    line-height: 16px;
    color: #828282!important;
}
.btn-block {
    display: block;
    width: 100%;
}
.spinner {
    background-color: transparent;
    border-top: 5px solid #8F8F8F;
    border-right: 5px solid rgba(66,139,202,.2);
    border-bottom: 5px solid rgba(66,139,202,.2);
    border-left: 5px solid rgba(66,139,202,.2);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: spinner-loading;
    animation-name: spinner-loading;
}
#counterInactivity {
    margin: 0;
    font-size: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    color: #666;
}
.spinner, .spinner:after {
    width: 84px;
    height: 84px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -37px;
    margin-left: -42px;
    border-radius: 50%;
    z-index: 2;
}
.spinner{
    background-color:transparent;
    border-top:5px solid #8F8F8F;
    border-right:5px solid rgba(66,139,202,.2);
    border-bottom:5px solid rgba(66,139,202,.2);
    border-left:5px solid rgba(66,139,202,.2);
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name:spinner-loading;
    animation-name:spinner-loading
}
@-webkit-keyframes spinner-loading{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
        
    }to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}

@keyframes spinner-loading{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
.text-center{
    text-align: center;
}